.sidechat {
  z-index: 1;
  min-width: 20vw;
  margin: 0rem 1rem;
  top: 0;
  background-color: #fff;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.chatbox {
  margin: 1.5rem 0rem;
  height: 68vh;
  overflow: scroll;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.cross {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.emojisHolder {
  transform: translateX(13rem);
  transition: all ease-out 0.3s;
}
.emojiButton {
  border: 2px solid red;
}

.animatedEmoji {
  padding-right: 7px;
}
.emojiHolderIsHidden::hover {
  transform: translateX(0);
  transition: all ease-out 0.3s;
}

.animatedEmoji:hover {
  cursor: pointer;
}

.textInput {
  width: 100%;
}


@media (max-width: 1200px) {
  .chatbox {
    height: calc(100vh - 56.25vw - 13rem);
  }
}
@media (max-width: 992px) {
  .chatbox {
    height: calc(100vh - 35.25vw - 13rem);
  }
}
@media (max-width: 768px) {
  .chatbox {
    height: calc(100vh - 56.25vw - 12rem);
  }
}

