.device {
  margin-top: 9em;
  margin-right: 2em;
}

.streamButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.deviceButton {
  display: flex;
  margin-top: 10px;
}

.jitsiContainer {
  display: flex;
  width: 100%;
  margin-top: 1em;
}

.log {
  display: flex;
  flex-direction: column-reverse;
  white-space: nowrap;
  overflow: auto;
}

@media (min-width: 830px) {
  .device {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
