.device {
    margin-top: 5em;
}

.view {
    margin-top: 5em;
    margin-left: 17px;
}

@media (min-width: 830px) {
    .device {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .view {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}