.leader-board-table {
  max-width: 800px;
  min-width: fit-content;
  width: 90vw;
  padding: 10px;
}

.leader-board-table tbody tr td a {
  color: #007bff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 18px;
  height: 18px !important;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.leader-board-table tbody tr td a:hover {
  text-decoration: underline;
}
.leader-board-table tbody tr td a:active {
  text-decoration: underline;
}
.leader-board-table tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.leader-board-table thead tr th {
  text-align: center;
  vertical-align: center;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}
