.navbarItem {
  transition: all 0.5s;
}
.dropdown-toggle::after {
  display: none !important;
}

.clickToChat_button {
  position: absolute;
  right: 100px;
}

.navbarItem::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ff5050;
  color: transparent;
  width: 0%;
  content: '.';
  height: 2px;
}

.navbarItem:hover:after {
  width: 100%;
  font-weight: bold;
  transform: scale(1.3);
}

.brand {
  margin-right: 0px;
}
.my-dropdown-toggle:after {
  display: none;
}

.navbarLogo {
  /* padding-left: 1rem; */
  transition: 0.2s ease-in-out;
}
.navbarLogo:hover {
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.chat {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* reseting the default styles */
.default_toggler,
.default_toggler:hover,
.default_toggler:active,
.default_toggler:focus {
  outline: 0px solid white;
  border-inline: 0px solid white;
  border: 0px solid white;
  border-color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0;
  transform: scale(1.3);
}

.btn-close:focus {
  box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0);
  border: 0px solid white;
  outline: 0px solid white;
}

.navbar_toggler {
  width: 33px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  border: 0px;
}

.navbar-light .navbar_toggler {
  border: 0px;
}

.toggler_icon {
  display: block;
  height: 2px;
  width: 100%;
  background: rgb(62, 62, 62);
  border-radius: 1px;
}

.toggler_icon::before,
.toggler_icon::after {
  content: '';
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: rgb(107, 107, 107);
  transition: top 0.25s;
}

.toggler_icon::after {
  top: 3px;
}

.toggler_icon::before {
  top: 13px;
}

/* when navigation is clicked */
.toggler_bar {
  margin-top: 0px;
  background-color: transparent;
}

/* state when the navbar is collapsed or collapsed==true */
.toggler_bar_collapsed {
  margin-top: -10px;
}

.toggler_bar::after {
  transform: rotate(-45deg);
  top: 0;
}

.rotate {
  transform: rotate(-180deg);
  transition: all 0.1s;
}
.navbar_subitems {
  position: absolute;
  transform: translate(-5rem, 30px);
  background-color: white;
  padding: 0rem;
  max-width: 36rem;
  z-index: 10;
}

.navbar_subitems_items {
  padding: 1rem 1rem 1rem 2rem;
  width: 15rem;
}

.navbar_subitems_items:hover {
  color: #ff5050;
  background-color: #f0f2f5;
  padding: 1rem 1rem 1rem 2rem;
  width: 15rem;
  font-weight: bold;
  transition: 0.15s;
}

.subItemLinks {
  cursor: pointer;

  text-decoration: none;
  color: #858585;
}

.subItemLinks:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-weight: bold;
  color: #ff5050;
  background-color: #f0f2f5;
  text-decoration: none;
}

.color {
  color: red;
}

.arrow {
  margin-left: 80%;
}

.arrow:hover {
  margin-left: 80%;
  font-weight: bold;
}

.arrowRotate {
  margin-left: 80%;
  transform: rotate(180deg);
}

.arrowRotate:hover {
  margin-left: 80%;
  transform: rotate(180deg);
  font-weight: bold;
}

.navbar_item_hover:hover {
  cursor: pointer;
  color: red;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.dropdown {
  cursor: pointer;
  /* font-weight: bold; */
}

.dropdown:hover {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-weight: bold;
  color: #ff5050;
  background-color: #f0f2f5;
  transition: 0.15s ease-in-out;
}

.toggler_bar::before {
  transform: rotate(45deg);
  top: 0;
}

.threedots:after {
  content: '\2807';
  font-size: 30px;
  height: 100%;
  padding-left: 7px;
}

.elipses:hover,
.elipses {
  color: #87898d;
  text-decoration-line: none !important;
  transform: scale(1.3);
}

.dropdown_menu {
  display: flex;
  justify-content: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid black;
}

.dropdown_menu_item {
  color: black;
  text-decoration: solid;
}

.dropdown_menu_item:hover {
  color: black;
  text-decoration: solid;
  transform: scale(1.3);
}

.nft_pfp {
  width: 50px;
  overflow: hidden;
}
