.slider {
  width: 95%;
  max-width: 90rem;
  align-self: center;
}

.carousel-item-link {
  text-decoration: none;
  color: #000000;
  outline: none;
}

.carousel-item-image {
  width: 100%;
  height: 100%;
}

.heading {
  font-size: clamp(0.8rem, 1.7vw, 1.2rem);
}

.description {
  font-size: clamp(0.6rem, 1.2vw, 0.8rem);
}

.carousel-item-title {
  font-size: 22.5px;
}
