.slider {
  width: 95%;
  max-width: 90rem;
  align-self: center;
}
.active_carousel:hover{
  transform: scale(1.04);
  transition: 0.5s all;
}
.carousel-item-link {
  text-decoration: none;
  color: #000000;
  outline: none;
}
.active_carousel:hover .content{
  background-color: #1d74f5;
  color: white;
  transition: 0.5s all;
}
.carousel-item-image {
  width: 100%;
  height: 100%;
}

.heading {
  font-size: clamp(0.8rem, 1.7vw, 1.2rem);
}

.description {
  font-size: clamp(0.6rem, 1.2vw, 0.8rem);
}

.carousel-item-title {
  font-size: 22.5px;
}
