/* .personas {
  display: flex;
  gap: 10rem;
} */
.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: clamp(8rem, 14vw, 20rem);
  margin: 0.2rem;
  padding-bottom: 1rem;
}
.svg {
  text-align: center;
  transform: scale(4);
  color: #1D74F5;
}
.title {
  font-size: clamp(0.9rem, 2vw, 1.4rem);
}
