/* .personas {
  display: flex;
  gap: 10rem;
} */
.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: clamp(8rem, 14vw, 20rem);
  margin: 0.2rem;
  padding-bottom: 1rem;
}
.svg {
  width: clamp(3rem, 4vw, 4rem);
}
.title {
  font-size: clamp(0.9rem, 2vw, 1.4rem);
}
