.videoContainer {
  display: flex;
  align-items: center;
  background: black;
  width: 79%;
}
.video {
  height: 100vh;
  background: rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatButton {
  width: 4rem;
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 6rem;
  border: 0;
}
.chatButton:hover {
  background-color: transparent;
  color: #f5455c;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .videoContainer {
    border: 10px solid white;
  }
}
@media (max-width: 768px) {
  .chatButton {
    width: 3rem;
  }
}
