html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-y: auto;
}

.home-content-wrapper {
  margin: 20px 70px;
  padding: 20px 20px 20px 30px;
}

.powered-by-title {
  text-decoration: none;
  color: hsl(240, 6%, 17%);
}

.powered-by-title:hover {
  text-decoration: underline;
}

.unsigned-home-heading {
  color: hsl(240, 6%, 17%);
  margin: 20px 0;
  font-weight: 200;
}

.unsigned-home-text {
  color: hsl(240, 5%, 36%);
  max-width: 520px;
  margin: auto;
}

.unsigned-home-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-stats-container {
  margin-top: 70px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #29292e;
  background-color: #e0e0e01a;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin: 10px;
  box-shadow: 0px 8px 12px -7px #a9a6a6fc;
}

.stat-icon {
  width: 45%;
  height: 45%;
  display: block;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: 500;
}

.stat-label {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-icon-explore-desc {
  vertical-align: bottom;
}

.community-home-img {
  margin: 0 10px 10px;
  width: 500px;
}

.signed-home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signed-home-header {
  margin-bottom: 50px;
}

.signed-home-header p {
  font-size: 0.9em;
  line-height: 27px;
  color: #252525;
}

.signed-home-shortcut-container {
  margin-bottom: 50px;
}

.signed-home-shortcut-container h5 {
  font-size: 0.9em;
}

.signed-home-shortcut {
  background-color: #e3e9fe66;
  padding: 14px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.signed-home-shortcut:hover {
  background-color: #dae0f7b0;
}

.shortcut-icon-small {
  width: 1.5em;
  height: 1.5em;
  margin-right: 7px;
}

.shortcut-icon-medium {
  width: 1.7em;
  height: 1.7em;
  margin-right: 5px;
}

.select-role-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid #ee4a5b;
}

.select-role-button:hover {
  border: 5px solid #2f343d;
  cursor: pointer;
}

.carousel-item-wrapper {
  margin: 20px;
  text-align: center;
}

.slick-prev {
  width: 30px !important;
  height: 30px !important;
  z-index: 1;
}
.slick-next {
  width: 30px !important;
  height: 30px !important;
  z-index: 1;
}

.carousel-slider {
  margin: 40px 20px 60px 20px;
}

.carousel-item-link {
  text-decoration: none;
  color: #000000;
  outline: none;
}

.carousel-item-image {
  width: 100%;
  height: 100%;
}

.carousel-item-description {
  color: hsl(240, 5%, 36%);
}

.demo-mode-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.unsigned-search-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.unsigned-search-input {
  width: 50%;
}

.stats-heading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: hsl(240, 6%, 17%);
  font-weight: 200;
}

.featured-content-heading {
  text-align: center;
  margin-bottom: 40px;
  color: hsl(240, 6%, 17%);
  font-weight: 200;
}

.select-role-heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  color: hsl(240, 6%, 17%);
  font-weight: 200;
}

.select-role-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.select-role-button-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.communities-wrapper {
  margin-bottom: 60px;
  margin-top: 30px;
}

.community-activity-wrapper {
  display: flex;
  flex-direction: row;
}

.community-activity-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.community-activity-author-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.community-activity-heading {
  margin-right: 40px;
}

.community-activity-info {
  color: hsl(240, 5%, 36%);
}

.community-activity-actions-wrapper {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.community-activity-action {
  display: flex;
  width: 50%;
  align-items: center;
}

.community-activity-action-button {
  height: 25px;
  width: 25px;
  margin-right: 15px;
  margin-left: 30px;
}

.community-activity-action-button:hover {
  cursor: pointer;
}

.main-stats-container-demo {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button-container-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.header-link {
  color: hsl(240, 5%, 36%);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 9%;
}

.nav-menu {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-right: 38px;
}

.item-link {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: color 0.3s ease-in-out;
}

.item-link::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -1px;
  background-color: #f5455c;
  transition: width 0.3s ease-in-out;
}

.menu-item:hover > span.item-link {
  color: #f5455c;
  transition: color 0.3s ease-in-out;
}

.menu-item:hover > a:before,
.menu-item:hover > span.item-link:before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.menu-item span.item-link {
  cursor: pointer;
}

.wrapper-submenu {
  position: absolute;
  top: calc(100% + 8px);
  left: -2px;
  width: 277px;
  background-color: #1f2329;
  border-radius: 0 20px;
  display: block;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  z-index: 10;
  overflow: hidden;
}

.wrapper-submenu > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 36px 28px 36px 32px;
}

.wrapper-submenu > ul > li:last-child {
  margin: 0;
}

.submenu-item {
  margin: 0 0 18px;
}

.submenu-item > a::before {
  margin: 0 10px 0 0;
  content: "";
  height: 3px;
  width: 8px;
  background-color: #f5455c;
  display: block;
}

.submenu-item > a {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.submenu-item:hover > a {
  color: #f5455c;
  transition: color 0.3s ease-in-out;
}

.trigger-submenu:hover .wrapper-submenu {
  max-height: 999px;
  transition: max-height 0.5s ease-in-out;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.nav-wrapper {
  min-height: 80px;
  height: 80px;
  border-bottom: 2px solid #f2f3f5;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}
